@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  text-decoration: none;
  list-style: none;
  touch-action: manipulation;
}

a {
  color: #fff;
}

hr {
  /*color: #e4e4e7; 
  border: 1px solid #e4e4e7;*/

  /* mozilla */
  /* border: 0;
  opacity: 0.7; */
}

img {
  width: 100%;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  scroll-behavior: smooth;
}